 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Rubik:wght@300;400&display=swap');


*{
     margin: 0;
     padding: 0;
     font-family: 'Rubik', sans-serif;
     box-sizing: border-box;
}

p{
    font-size: 1.1rem;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 14rem;
    padding-bottom: 3%;
}

.logo{
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-link{
    text-decoration: none;
    font-size: 3rem;
    color: rgb(47, 207, 207);
}


.barra {
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.20rem;
    border-radius: 5px;
    padding: 0.3rem 1.1rem;
    border-color: rgb(70, 69, 69);

 }
 
 .barra input{
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
    display: flex;
 }



 .barra button{
    background-color: transparent;
    border:none;
    cursor: pointer;
 }

 body{
    text-align: center;
    background-color: black;
    background-image: url(https://i.pinimg.com/564x/d8/3e/23/d83e23e844410b6a7acd48b6c1a0adba.jpg);
 }

 .characters_information{
    background-color:#005C53;
    display: inline-block;
    margin-top: 1%;
    padding: 10% 32.5%;
    position: relative;
    text-align: center;
    border-radius: 1.9%;

    
 }

 .character_image{
   position: absolute;
   height: 100%;
   top: 0%;
   left: 0%;
   border-radius: 2%;
   box-shadow: 2px 0px 10px 2px black;

}

.titulo-nome,
.titulo-number,
.titulo-status,
.titulo-type,
.titulo-gender,
.titulo-species,
.titulo-origin,
.titulo-location
{
   font-weight: 600;
   text-align: left;
}

.character_number{
    position:absolute;
    left: 34%;
    top: 5%;
    font-size: 1.6rem;
}

.traco{
    position: absolute;
    left: 40%;
    top:5%;
    font-size: 1.5rem;
    
}

.character_name{
    position: absolute;
    left: 42%;
    top:4.3%;
    font-size: 1.9rem;
}

.titulo-status{
    position: absolute;
    left: 37%;
    top: 25%;
}
.character_status{
    position: absolute;
    left: 44%;
    top: 25%;
}

.titulo-type{
    position: absolute;
    left: 56%;
    top: 25%;
}

.character_type{
    position: absolute;
    left: 62%;
    top: 25%;
}

.titulo-gender{
    position: absolute;
    left: 37%;
    top: 38%;
}

.character_gender{
    position: absolute;
    left: 45%;
    top: 38%;
}

.titulo-species{
    position: absolute;
    left: 37%;
    top: 51%;
}

.character_species{
    position: absolute;
    left: 45%;
    top: 51%;
}

.titulo-origin{
    position: absolute;
    left: 37%;
    top: 64%;
}

.character_origin_name{
    position: absolute;
    left: 44%;
    top: 64%;
}

.titulo-location{
    position: absolute;
    left: 37%;
    top: 77%;
}

.character_location_name{
    position: absolute;
    left: 46%;
    top: 77%;
}
























input:focus::-webkit-input-placeholder 
{
    color: transparent;
 }
 input:focus:-moz-placeholder 
 { 
    color: transparent;  
 }
 input:focus::-moz-placeholder 
 { 
    color: transparent;  
 }
 input:focus:-ms-input-placeholder 
 {  
    color: transparent;  
 }