 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+NP+Hmong:wght@400;500&family=Nunito&family=Nunito+Sans:opsz@6..12&family=Rubik:wght@300;400&display=swap');


*{
     margin: 0;
     padding: 0;
     font-family: 'Rubik', sans-serif;
     box-sizing: border-box;
}

p{
    font-size: 1.1rem;
}

.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 14rem;
    padding-bottom: 3%;
}

.logo{
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;

}

.nav-link{
    text-decoration: none;
    font-size: 3rem;
    color: rgb(47, 207, 207);
}


.barra {
    display: flex;
    align-items:center;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.20rem;
    border-radius: 5px;
    padding: 0.3rem 1.1rem;
    border-color: rgb(70, 69, 69);

 }
 
 .barra input{
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 1rem;
    display: flex;
 }



 .barra button{
    background-color: transparent;
    border:none;
    cursor: pointer;
 }

 body{
    text-align: center;
    background-color: black;
    background-image: url(https://i.pinimg.com/564x/d8/3e/23/d83e23e844410b6a7acd48b6c1a0adba.jpg);
 }


 .characters_information{
    background-color:#009ea3;
    display: inline-block;
    margin-top: 1%;
    padding: 10% 32.5% 10% 32.5%;
    position: relative;
    text-align: center;
    border-style: solid;
    border-radius: 1.9%;   
    border-color: rgb(28, 182, 74);
    border-width: 0.5rem;
 }

 

 .character_image{
   position: absolute;
   height: 100%;
   top: 0%;
   left: 0%;
   border-radius: 2%;
   box-shadow: 2px 0px 10px 2px black;

}

.titulo-nome,
.titulo-number,
.titulo-status,
.titulo-type,
.titulo-gender,
.titulo-species,
.titulo-origin,
.titulo-location
{
   font-weight: 600;
   text-align: left;
}

.character_number{
    position:absolute;
    left: 34%;
    top: 5%;
    font-size: 1.6rem;
}

.traco{
    position: absolute;
    left: 40%;
    top:5%;
    font-size: 1.5rem;
    
}

.character_name{
    position: absolute;
    left: 42%;
    top:4.3%;
    font-size: 1.9rem;
}

.titulo-status{
    position: absolute;
    left: 37%;
    top: 25%;
}
.character_status{
    position: absolute;
    left: 45%;
    top: 25%;
}

.titulo-type{
    position: absolute;
    left: 56%;
    top: 25%;
}

.character_type{
    position: absolute;
    left: 62%;
    top: 25%;
}

.titulo-gender{
    position: absolute;
    left: 37%;
    top: 38%;
}

.character_gender{
    position: absolute;
    left: 45%;
    top: 38%;
}

.titulo-species{
    position: absolute;
    left: 37%;
    top: 51%;
}

.character_species{
    position: absolute;
    left: 45%;
    top: 51%;
}

.titulo-origin{
    position: absolute;
    left: 37%;
    top: 64%;
}

.character_origin_name{
    position: absolute;
    left: 44%;
    top: 64%;
}

.titulo-location{
    position: absolute;
    left: 37%;
    top: 77%;
}

.character_location_name{
    position: absolute;
    left: 47%;
    top: 77%;
}

.mensagem-erro{
    position: absolute;
    font-size: 2rem;
    top: 30%;
    left: 5%;
    right: 5%;
    color:rgb(0, 0, 0);

}

.find{
    position: absolute;
    font-size: 2rem;
    top: 34%;
    left: 35%;
    color: rgb(0, 0, 0);
    text-align: left;
    line-height: 125%;
}

input:focus::-webkit-input-placeholder 
{
    color: transparent;
 }
 input:focus:-moz-placeholder 
 { 
    color: transparent;  
 }
 input:focus::-moz-placeholder 
 { 
    color: transparent;  
 }
 input:focus:-ms-input-placeholder 
 {  
    color: transparent;  
 }

 @media screen and (max-width:1500px){
    .character_species{
        left: 46%;
    }

    .character_name{
        font-size: 1.5rem;
    }

    .character_gender{
        font-size: 1.2;
    }
 }

 
 @media screen and (max-width:1150px){
    .character_species{
        left: 48%;
        font-size: 0.9rem;
    }

    .character_status{
        left: 47%;
        font-size: 0.9rem;
    }

    .character_species{
        left: 48%;
        font-size: 0.9rem;
    }

    
    .character_gender{
        left: 48%;
        font-size: 0.9rem;
    }

    
    .character_origin_name{
        left: 46%;
        font-size: 0.9rem;
    }

    
    .character_location_name{
        left: 49%;
        font-size: 0.9rem;
    }

    .character_type{
        left: 63%;
        font-size: 0.9rem;
    }

    .traco{
        left: 41%;
    }

    .character_name{
        top:5%;
        left: 44%;
        font-size: 1.4rem;
    }

    .character_number{
        top: 6%;
        font-size: 1.15rem;
    }

    .titulo-type{
        font-size: 0.95rem;
    }

    .titulo-location{
        font-size: 0.95rem;
    }

    .titulo-nome{
        font-size: 0.95rem;
    }

    .titulo-number{
        font-size: 0.95rem;
    }

    .titulo-origin{
        font-size: 0.95rem;
    }

    .titulo-species{
        font-size: 0.95rem;
    }

    .titulo-status{
        font-size: 0.95rem;
    }
    
    .titulo-gender{
        font-size: 0.95rem;
    }

 }

 
 @media screen and (max-width:1000px){
    .character_species{
        left: 49%;
    }

    .character_status{
        left: 48%;
    }

    .character_species{
        left: 49%;
    }

    
    .character_gender{
        left: 49%;
    }

    
    .character_origin_name{
        left: 47%;
    }

    
    .character_location_name{
        left: 50%;
    }

    .character_type{
        left: 64%;
    }

    .traco{
        left: 41%;
        
    }

    .character_name{
        top:5%;
        left: 44%;
        font-size: 1.5rem;
    }

    .character_number{
        top: 6%;
        font-size: 1.3rem;
    }

 }

 
 @media screen and (max-width:990px){

    .mensagem-erro{
        position: absolute;
        font-size: 1.5rem;
        top: 30%;
        left: 5%;
        right: 5%;
        color:rgb(0, 0, 0);
    
    }
    
    .find{
        position: absolute;
        font-size: 1.2rem;
        top: 34%;
        left: 35%;
        color: rgb(0, 0, 0);
        text-align: left;
        line-height: 125%;  
    }
    .character_species{
        left: 49%;
    }

    .character_status{
        left: 48%;
    }

    .character_species{
        left: 49%;
    }

    
    .character_gender{
        left: 49%;
    }

    
    .character_origin_name{
        left: 47%;
    }

    
    .character_location_name{
        left: 50%;
    }

    .character_type{
        left: 64%;
    }

    .traco{
        left: 41%;
        
    }

    .character_name{
        top:5%;
        left: 44%;
        font-size: 1.5rem;
    }

    .character_number{
        top: 6%;
        font-size: 1.3rem;
    }


 }

 @media screen and (max-width:890px){
    .character_species{
        left: 48%;
        font-size: 0.9rem;
    }

    .character_status{
        left: 47%;
        font-size: 0.9rem;
    }

    .character_species{
        left: 48%;
        font-size: 0.9rem;
    }

    
    .character_gender{
        left: 48%;
        font-size: 0.9rem;
    }

    
    .character_origin_name{
        left: 46%;
        font-size: 0.9rem;
    }

    
    .character_location_name{
        left: 49%;
        font-size: 0.9rem;
    }

    .character_type{
        left: 63%;
        font-size: 0.9rem;
    }

    .traco{
        left: 41%;
    }

    .character_name{
        top:5%;
        left: 44%;
        font-size: 1.4rem;
    }

    .character_number{
        top: 6%;
        font-size: 1.15rem;
    }

    .titulo-type{
        font-size: 0.95rem;
    }

    .titulo-location{
        font-size: 0.95rem;
    }

    .titulo-nome{
        font-size: 0.95rem;
    }

    .titulo-number{
        font-size: 0.95rem;
    }

    .titulo-origin{
        font-size: 0.95rem;
    }

    .titulo-species{
        font-size: 0.95rem;
    }

    .titulo-status{
        font-size: 0.95rem;
    }
    
    .titulo-gender{
        font-size: 0.95rem;
    }

 }

 
 @media screen and (max-width:1000px){
    .character_species{
        left: 49%;
    }

    .character_status{
        left: 48%;
    }

    .character_species{
        left: 49%;
    }

    
    .character_gender{
        left: 49%;
    }

    
    .character_origin_name{
        left: 47%;
    }

    
    .character_location_name{
        left: 50%;
    }

    .character_type{
        left: 64%;
    }

    .traco{
        left: 41%;
        
    }

    .character_name{
        top:5%;
        left: 44%;
        font-size: 1.5rem;
    }

    .character_number{
        top: 6%;
        font-size: 1.3rem;
    }

 }

 
 @media screen and (max-width:890px){
    
    .find{
        position: absolute;
        font-size: 1rem;
        top: 34%;
        left: 35%;
        color: rgb(0, 0, 0);
        text-align: left;
        line-height: 125%;
    }
    .character_species{
        left: 70%;
        font-size: 0.7rem;
    }

    .character_status{
        left: 50%;
        font-size: 0.7rem;
    }

    .character_species{
        left: 50%;
        font-size: 0.7rem;
    }

    
    .character_gender{
        left: 50%;
        font-size: 0.7rem;
    }

    
    .character_origin_name{
        left: 48%;
        font-size: 0.7rem;
    }

    
    .character_location_name{
        left: 52%;
        font-size: 0.7rem;
    }

    .character_type{
        left: 68%;
        font-size: 0.7rem;
    }

    .traco{
        left: 41%;
        font-size: 0.85rem;
    }

    .character_name{
        top:5%;
        left: 43%;
        font-size: 0.85rem;
    }

    .character_number{
        top: 6%;
        font-size: 0.8rem;
    }

    .titulo-type{
        left: 60%;
        font-size: 0.72rem;
    }

    .titulo-location{
        font-size: 0.72rem;
    }

    .titulo-nome{
        font-size: 0.72rem;
    }

    .titulo-number{
        font-size: 0.72rem;
    }

    .titulo-origin{
        font-size: 0.72rem;
    }

    .titulo-species{
        font-size: 0.72rem;
    }

    .titulo-status{
        font-size: 0.72rem;
    }
    
    .titulo-gender{
        font-size: 0.72rem;
    }
 }

 @media screen and (max-width:550px){
  
    .character_species{
        left: 70%;
        font-size: 0.6rem;
    }

    .character_status{
        left: 50%;
        font-size: 0.6rem;
    }

    .character_species{
        left: 50%;
        font-size: 0.6rem;
    }

    
    .character_gender{
        left: 50%;
        font-size: 0.6rem;
    }

    
    .character_origin_name{
        left: 48%;
        font-size: 0.6rem;
    }

    
    .character_location_name{
        left: 52%;
        font-size: 0.6rem;
    }

    .character_type{
        left: 68%;
        font-size: 0.6rem;
    }

    .traco{
        left: 41%;
        font-size: 0.75rem;
    }

    .character_name{
        top:5%;
        left: 43%;
        font-size: 0.75rem;
    }

    .character_number{
        top: 6%;
        font-size: 0.7rem;
    }

    .titulo-type{
        left: 60%;
        font-size: 0.62rem;
    }

    .titulo-location{
        font-size: 0.62rem;
    }

    .titulo-nome{
        font-size: 0.62rem;
    }

    .titulo-number{
        font-size: 0.62rem;
    }

    .titulo-origin{
        font-size: 0.62rem;
    }

    .titulo-species{
        font-size: 0.62rem;
    }

    .titulo-status{
        font-size: 0.62rem;
    }
    
    .titulo-gender{
        font-size: 0.62rem;
    }
 }

 
 @media screen and (max-width:580px){
    .mensagem-erro{
        position: absolute;
        font-size: 1rem;
        top: 30%;
        left: 5%;
        right: 5%;
        color:rgb(0, 0, 0);
    
    }
    
    .find{
        position: absolute;
        font-size: 0.8rem;
        top: 32%;
        left: 35%;
        color: rgb(0, 0, 0);
        text-align: left;
        line-height: 125%;
    }

    .character_species{
        left: 70%;
        font-size: 0.7rem;
    }

    .character_status{
        left: 50%;
        font-size: 0.7rem;
    }

    .character_species{
        left: 50%;
        font-size: 0.7rem;
    }

    
    .character_gender{
        left: 50%;
        font-size: 0.7rem;
    }

    
    .character_origin_name{
        left: 48%;
        font-size: 0.7rem;
    }

    
    .character_location_name{
        left: 52%;
        font-size: 0.7rem;
    }

    .character_type{
        left: 68%;
        font-size: 0.7rem;
    }

    .traco{
        left: 41%;
        font-size: 0.85rem;
    }

    .character_name{
        top:5%;
        left: 43%;
        font-size: 0.85rem;
    }

    .character_number{
        top: 6%;
        font-size: 0.8rem;
    }

    .titulo-type{
        left: 60%;
        font-size: 0.72rem;
    }

    .titulo-location{
        font-size: 0.72rem;
    }

    .titulo-nome{
        font-size: 0.72rem;
    }

    .titulo-number{
        font-size: 0.72rem;
    }

    .titulo-origin{
        font-size: 0.72rem;
    }

    .titulo-species{
        font-size: 0.72rem;
    }

    .titulo-status{
        font-size: 0.72rem;
    }
    
    .titulo-gender{
        font-size: 0.72rem;
    }
 }

 @media screen and (max-width:590px){
    .characters_information{
        padding: 10% 35% 10% 35%;
        padding-right: 35%;
    }
  
    .character_species{
        left: 70%;
        font-size: 0.5rem;
    }

    .character_status{
        left: 50%;
        font-size: 0.5rem;
    }

    .character_species{
        left: 50%;
        font-size: 0.5rem;
    }

    
    .character_gender{
        left: 50%;
        font-size: 0.5rem;
    }

    
    .character_origin_name{
        left: 48%;
        font-size: 0.5rem;
    }

    
    .character_location_name{
        left: 52%;
        font-size: 0.5rem;
    }

    .character_type{
        left: 68%;
        font-size: 0.5rem;
    }

    .traco{
        left: 41%;
        font-size: 0.5rem;
    }

    .character_name{
        top:5%;
        left: 43%;
        font-size: 0.5rem;
    }

    .character_number{
        top: 6%;
        font-size: 0.5rem;
    }

    .titulo-type{
        left: 60%;
        font-size: 0.5rem;
    }

    .titulo-location{
        font-size: 0.5rem;
    }

    .titulo-nome{
        font-size: 0.5rem;
    }

    .titulo-number{
        font-size: 0.5rem;
    }

    .titulo-origin{
        font-size: 0.5rem;
    }

    .titulo-species{
        font-size: 0.5rem;
    }

    .titulo-status{
        font-size: 0.5rem;
    }
    
    .titulo-gender{
        font-size: 0.5rem;
    }

    .mensagem-erro{
        position: absolute;
        font-size: 0.8rem;
        top: 30%;
        left: 5%;
        right: 5%;
        color:rgb(0, 0, 0);
    
    }
    
    .find{
        position: absolute;
        font-size: 0.8rem;
        top: 23%;
        left: 35%;
        color: rgb(0, 0, 0);
        text-align: left;
        line-height: 125%;
    }
 }


